<form id="login" action="/api/users" method="post">
  <label for="first_name">Nombre del usuario</label><br />
  <input type="first_name" name="first_name" value="" placeholder="first_name">
  <br><br>
  <label for="last_name">Apellido del usuario:</label><br />
  <input type="last_name" name="last_name" value="" placeholder="last_name">
  <br><br>
  <label for="email">Email:</label><br />
   <input type="email" name="email" value="" placeholder="email">
    <br><br>
  <label for="gender">Gender:</label><br />
   <input type="gender" name="gender" value="" placeholder="gender">
  <input type="submit" value="Login">
</form>

